.movie-details {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.details-container {
    display: flex;
    margin-top: 20px;
}

.movie-poster {
    width: 300px;
    height: auto;
    margin-right: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.booking-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

.time-selection {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.time-selection label {
    font-size: 16px;
}

input[type="date"],
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.cast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cast-member {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    background-color: #f9f9f9;
}

.cast-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 25%;
}

.cast-name {
    font-weight: bold;
    color: #333;
}
